
body {
  font-family: 'Lato', sans-serif;

  background-color:#f2f2f2;
  position:relative;
}

h2 {
  font-weight: 400;
  font-size:1.3em;
}

nav {
  width:100%;
  max-width:800px;
  height:50px;
  margin: 0;
  overflow: hidden;
  padding:10px;
  font-size:0.9em;
  line-height:100%;
  position:fixed;
  top:0;
  background-color:#f2f2f2;
  z-index:10;
  border-bottom: 2px rgba(0,0,0,0.25) solid;
}

.button {
  background-color:white;
  color:white;
  padding:8px 15px;
  border-radius: 15px;
  box-shadow: rgba(0,0,0,0.13) 0 5px 10px;

}

.heroimage {
  max-width:400px;
  width:90%;
  margin:auto;
  position:absolute;
  bottom: 60%;
  left:50%;
  transform: translateX(-50%);
}

.blue {
  background-color: 
}

.green {
  background-color:#3DD336
}

.orange {
  background-color:#FEA800;
}

.red {
  background-color:#FF0048;
}



nav h2 {
  display: inline-block;
  margin:0;
  vertical-align:middle;
  margin-left: 10px;

}

nav a {
  height:100%
}

header {
  width:100%;
  height:100vh;
  box-sizing:border-box;
  padding-bottom:100px;
}

header .left {
  width:50%;
  height:100%;
  display:inline-block;
  position: relative;
  padding:25px;
  box-sizing:border-box;
}



header .right {
  box-sizing:border-box;
  width:50%;
  height:100%;
  display:inline-block;
  float:right;
  padding:25px 25px;
}

nav img {
  height:90%;
  vertical-align: middle;
  margin-right: 20px
}

nav .appstore {
  float:right;
  margin-right:20px;
}






.leftstuff {
  position:absolute;
  width:100%;
  bottom:50%;
  transform: translateY(80%) translateX(-50%);
  text-align: center;
  font-size:1.7em;
  left:50%;
}

.leftstuff h2 {
  margin:5px;
}

#memorize-items {
  font-weight:700;
}

.appstore {
  margin-top:40px;
  width:200px;
}


.marvel-device {
  height:100%;
}

.wrapper {
  max-width:1200px;
  margin: auto;
}

.iphoneborder {
  position:relative;
  width:100%;
  height:100%;

  display:inline-block;
}



.iphoneborder > .screenshot {
  box-sizing:padding-box;
  max-width:100%;
  max-height:100%;
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%) scale(0.92, 0.96);
}

.iphoneborder > .border {
  box-sizing:padding-box;
  max-width:100%;
  max-height:100%;
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}

footer {
  position:absolute;
  bottom:0;

  padding:0 10px;
  text-align:center;

}

.legalese {
  opacity: 0.25;
  margin:0;
  text-align:center;
}

.byline {
  display:inline-block;
  margin-right:10px;
}

.contact-item {
  margin-right:10px;
  font-size:1.5em;
}

footer a {
  color:black;
}

footer a:hover {
  transition: color .25s ease-out;
  color:rgba(0,0,0,0.5);
}

@media only screen and (max-width: 600px) {

  header .right {
    float:left;
    width:100%;
    display:none;
  }
  
  header .left {
    width:100%;
    height:100%;
  }
  
  .legalese {
    font-size:0.7em;
    margin-top:20px;
  }
  
  .byline {
    display:block;
  }
  
  .leftstuff {
    /*move this to vertical media query*/
      transform: translateY(85%) translateX(-50%);
  }
}